<strong>Olá, {{name}}</strong>
<p>Segue nossa resposta a sua solicitação:</p>
<p>
    <strong>Pergunta: </strong> {{question}} <br/>
    <strong>Resposta: </strong> {{answer}} <br/>
    <br/>
    <small>
        Em caso de duvidas, entre em contato conosco.
    </small>
</p>
